<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Account Parent V13</h2>
            <br /><br />
            <h4 class="oe_slogan">Chart of Account Tree View</h4>
        </div>
        <div class="oe_span12">
        	<h4 class="oe_slogan">New Features Added!</h4>
            <p class="oe_mt32">
              <br><br><br>
              <ul>
                <li>New filter 'Display Accounts' added</li>
                <li>New Hierarchical report based on account type added</li>
            </ul>
            </p>
        </div>
        <br/>
        <div class="oe_span12">
        	<h4 class="oe_slogan">Configuration</h4>
            <p class="oe_mt32">
              <br><br><br>
              <ul>
                <li>After installing the account parent module go to the user configuration menu. Enable the <b>Show Full Accounting Features</b> and <b>Show Chart of Account Structure</b> refer the below image.</li>
            </ul>
            </p>
        </div>
        <br/>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="acnt_parent_1.png">
            </div>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">
              <br><br><br>
              <ul>
                <li>Under Accounting menu now you can see <b>Chart of Account Hierarchy</b> menu. Then open the Chart of Accounts menu under accounting configuration, open one account you can see a new field
                 Parent Account, if you map the parent properly you can achieve the tree structure.</li>
            </ul>
            </p>
        </div>
        <br/>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="acnt_parent_3.png">
            </div>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">
              <br><br><br>
              <ul>
                <li>We provide an example for configuring parent account and to show in the tree view. First create a view account.</li>
            </ul>
            </p>
        </div>
        <br/>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="acnt_parent_4.png">
            </div>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">
              <br><br><br>
              <ul>
                <li>Map the parent account to sub parent accounts and then to its sub accounts. </li>
            </ul>
            </p>
        </div>
        <br/>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="acnt_parent_5.png">
            </div>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="acnt_parent_6.png">
            </div>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">
              <br><br><br>
              <ul>
                <li>After the structure configuration is complete, you can Open the chart of Account Hierarchy. Set the Targeted moves or other filters available and click Open Charts</li>
            </ul>
            </p>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="acnt_parent_7.png">
            </div>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="acnt_parent_7B.png">
            </div>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">
              <br><br><br>
              <ul>
                <li>Now you can see a tree structure for the accounts we configured, if you configured all you will get full structure</li>
            </ul>
            </p>
        </div>
        <div class="oe_span12">
        	<ul>
                <li>Following is a report hierarchy based on Accounts</li>
            </ul>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="acnt_parent_8.png">
            </div>
        </div>
        <div class="oe_span12">
            <ul>
                <li>Following is a report hierarchy based on Account Type</li>
            </ul>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="acnt_parent_9.png">
            </div>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">
              <br><br><br>
              <ul>
                <li>Click on the arrow to expand the chart and click on the account name to view the related journal items</li>
            </ul>
            </p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">
              <br><br><br>
              <h4 class="oe_slogan">Reports</h4>
              <ul>
                <li>You will be able to export the hierarchical view in pdf and xls formats.</li>
            </ul>
            </p>
        </div>
        <div class="oe_span12">
            <br /><br />
            <h4 class="oe_slogan">Attention</h4>
            <ul>
                <li>Please take a backup of your database before installing this module for your safety</li>
            </ul>
        </div>
        <div class="oe_span12">
            <br /><br />
            <h4 class="oe_slogan">Our Products & Services</h4>
            <ul>
                <li><b>Odoo 8 to Odoo Latest Migration</b></li>
                <li><b>Odoo to Odoo Multiple DB Synchronization</b></li>
                <li><b>Shipping Connectors</b></li>
                <li><b>E-commerce Integrations</b></li>
            </ul>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row "> 
        <div class="oe_slogan text-center">
            <div class="oe_span12">
                <h2 class="text-center"><a>About Us</a></h2>
            </div>
            <span>
                <a style="color: #a24689 !important;" href="https://www.linkedin.com/company/steigend-it-solutions" target="new"><img src="linkedin.png" height="25" width="25" /></a> | 
                <a style="color: #a24689 !important;" href="https://twitter.com/steigendit" target="new"><img src="twitter.png" height="25" width="25" /></a> | 
                <a style="color: #a24689 !important;" href="https://www.facebook.com/steigendit/" target="new"><img src="facebook.png" height="25" width="25" /></a> | 
                <a style="color: #a24689 !important;" href="mailto:contact@steigendit.com"><img src="mailto.png" height="25" width="25" /></a>
            </span>
        </div>
    </div>
</section>