
<h1 style="text-align: center;color: #875A7B;padding-top: 10px;padding-bottom: 10px">Odoo Enterprise Theme</h1>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="main_screenshot.png">
        </div>
    </div>
</section>

<div style="height: 50px;"></div>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="main_2.png">
        </div>
    </div>
</section>
